<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <description>添加到类路径：打开Project Structure 左侧选中Modules，在Dependecies中，
            点击右侧“+”号，选择JARS or directories…选择WEB-INF\lib下的Jar包添加</description>
        <display-name>ValiateUserNameServlet</display-name>
        <servlet-name>ValiateUserNameServlet</servlet-name>
        <servlet-class>servlets.ValiateUserNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValiateUserNameServlet</servlet-name>
        <url-pattern>/valiateUserName</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>AddToCartServlet</display-name>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>servlets.HelloServlet</servlet-class>
        <init-param>
            <param-name>hehe</param-name>
            <param-value>hehe-value</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/helloServlet</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>content-he</param-name>
        <param-value>content-he-value</param-value>
    </context-param>

    <servlet>
        <servlet-name>requestAPIServlet</servlet-name>
        <servlet-class>servlets.request.RequestAPIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestAPIServlet</servlet-name>
        <url-pattern>/requestAPIServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>parameterGetServlet</servlet-name>
        <servlet-class>servlets.parameter.ParameterGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>parameterGetServlet</servlet-name>
        <url-pattern>/parameterGetServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>parameterPostServlet</servlet-name>
        <servlet-class>servlets.parameter.ParameterPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>parameterPostServlet</servlet-name>
        <url-pattern>/parameterPostServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>responseIOServlet</servlet-name>
        <servlet-class>servlets.response.ResponseIOServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>responseIOServlet</servlet-name>
        <url-pattern>/responseIOServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>book.web.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registServlet</servlet-name>
        <servlet-class>book.web.RegistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registServlet</servlet-name>
        <url-pattern>/registServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>file.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/uploadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>file.Download</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
</web-app>